<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<h3 class="header smaller lighter green">Application Buttons</h3>

										<!-- #section:elements.button.app -->
										<p>
											<a href="#" class="btn btn-default btn-app radius-4">
												<i class="ace-icon fa fa-cog bigger-230"></i>
												Default
												<span class="badge badge-pink">+3</span>
											</a>

											<a href="#" class="btn btn-app btn-primary no-radius">
												<i class="ace-icon fa fa-pencil-square-o bigger-230"></i>
												Edit
												<span class="badge badge-warning badge-left">11</span>
											</a>

											<a href="#" class="btn btn-app btn-success">
												<i class="ace-icon fa fa-refresh bigger-230"></i>
												Reload
											</a>

											<button class="btn btn-app btn-warning">
												<i class="ace-icon fa fa-undo bigger-230"></i>
												Undo
											</button>

											<a href="#" class="btn btn-app btn-info btn-sm no-radius">
												<i class="ace-icon fa fa-envelope bigger-200"></i>
												Mailbox
												<span class="label label-inverse arrowed-in">6+</span>
											</a>

											<button class="btn btn-app btn-danger btn-sm">
												<i class="ace-icon fa fa-trash-o bigger-200"></i>
												Delete
											</button>

											<button class="btn btn-app btn-purple btn-sm">
												<i class="ace-icon fa fa-cloud-upload bigger-200"></i>
												Upload
											</button>

											<button class="btn btn-app btn-pink btn-sm">
												<i class="ace-icon fa fa-share bigger-200"></i>
												Share
											</button>

											<button class="btn btn-app btn-inverse btn-xs">
												<i class="ace-icon fa fa-lock bigger-160"></i>
												Lock
											</button>

											<button class="btn btn-app btn-grey btn-xs radius-4">
												<i class="ace-icon fa fa-floppy-o bigger-160"></i>

												Save
												<span class="badge badge-transparent">
													<i class="light-red ace-icon fa fa-asterisk"></i>
												</span>
											</button>

											<button class="btn btn-app btn-light btn-xs">
												<i class="ace-icon fa fa-print bigger-160"></i>
												Print
											</button>

											<a href="#" class="btn btn-app btn-yellow btn-xs">
												<i class="ace-icon fa fa-shopping-cart bigger-160"></i>
												Shop
											</a>
										</p>

										<!-- /section:elements.button.app -->
									</div>